body {
    background-image: url("top-secret.png");
    opacity: 0,1;
    background-color: rgb(150, 146, 146);
}

h1 {
    color:black;
    font-size: 350%;
    font-family: mentor sans,avenir;

}

p{
    color:white;
    font-size: 200%;
}

#offset {
    color:clear;
    color: grey;
    border: 5px black;
    width: 50px;
    height: 20px;
}

textarea {
    Color: clear;
    width: 400px;
    height: 150px;
    border:3px double black;
}

